<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        LessonOverflow
      </a>
      <ul class="nav">
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li class="active">
          <a href="">
            About
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
      <form class="navbar-form pull-right">
        <input name="textinput1" type="email" placeholder="Email" class="span2">
        <input name="textinput2" type="password" placeholder="Password" class="span2">
        <button class="btn">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="well">
    <div class="hero-unit">
      <div>
        <h2>
          Learn More
        </h2>
        <p>
          What is LessonOverflow
          <br>
          View our API Documentation
          <br>
          Other Freqrtly asked questions
          <br>
          &nbsp;
        </p>
      </div>
    </div>
  </div>
  <div class="hero-unit">
    <div>
      <h2>
        What is LessonOverflow?
      </h2>
      <p>
        LessonOverflow is a repository of the best common-core aligned learning
        resources that can be automatically integrated into common mastery data.
        &nbsp;
        <br>
        <br>
        We provide easy and simple integration for actionable next steps for your
        reteach tools&nbsp;
      </p>
    </div>
  </div>
  <div class="hero-unit">
    <div>
      <h1>
        Team Core Values
      </h1>
      <p>
        I'm a super hero!
      </p>
    </div>
    <h3>
      Heading
    </h3>
  </div>
  <div class="hero-unit">
    <div>
      <h2>
        Frequently Asked Questions
      </h2>
      <p>
        I'm a super hero!
      </p>
    </div>
  </div>
</div>
