<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        Lesson Overflow
      </a>
      <ul class="nav">
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            About
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
      <form class="navbar-form pull-right">
        <input name="textinput1" type="email" placeholder="Email" class="span2">
        <input name="textinput2" type="password" placeholder="Password" class="span2">
        <button class="btn">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <div>
      <h2>
        Learn More
      </h2>
      <p>
        <ul>
        <li> <a href="#What">What is Lesson Overflow</a></li>  
        <li> <a href="#Team">Team Core Value</a></li>
        <li> <a href="#Mission"> Company Mission</a></li>
        <li> <a href="#Frequently"> Frequently Asked Questions</a></li>
      </p>
    </div>
  </div>
  <div class="hero-unit" id="What">
    <div>
      <h2>
        What is Lesson Overflow?
      </h2>
      <p>
        Lesson Overflow is a repository of the best common-core aligned learning
        resources that can be automatically integrated into Common-Core Mastery
        Data.
        <br>
        <br>
        We provide easy and simple integration for actionable next steps for your
        reteach tools
      </p>
    </div>
  </div>
  <div class="hero-unit" id="Team">
    <div>
      <h2>
        Team Core Values
      </h2>
    <ol>
         <li> Communinication
       
              <p>
              We want to continueously communicate with our team members. We believe
              that with communication it offers a lot of transparency for teachers and
              for teachers to do their work.
              </p>         
        </li>
    

 
          <li> Trust
             <p> 
              We trust each other's value of work. Our team believes in each other and
              we're committed to finding the right people for our company who can trust
              each other's abilities to do great work!
           </p>
           </li> 
   


          <li>Respect
      <p>
              As hard as it maybe running a company, we want to try to respect each
              other's opinions, value, and worth ethic, because we believe our employees will do anything to move the mission forward for our teachers.
      </p>
          </li>

      
         <li> Be open to Feedback
      
      <p>
              We love feedback! Seriously. Whether it be with from our colleagues our
              customers, we love feedback.
      </p>
          </li>  
  <li>
          Continuous learning
      <p>
            As an education company we value the learning process. We want to continuosly
            grow as a company and hope our teachers do as well
      </p>
   </li>
   </ol>   
          </span>
    </div>
  </div>
  <div class="hero-unit" id="Mission">
    <div>
      <h2>
        Company Mission
      </h2>
      <div>
        <p>
          Our mission as a company is to provide the best aligned resources to mastery data
          so that resources can be made readily available to teachers tied
          to each students individual performance.  We want to cut down the
          time it takes for data and action by providing specific aligned resources
          to mastey data services.
        </p>  
      </div>
    </div>
  </div>
    <div class="hero-unit" id="Frequently">
    <div>
      <h2>
        Frequently asked questions
      </h2>
      <p>
        How does our API documentation work?
        <br>
        How kinds of resources are available for this to work?
        <br>
        How much does this service cost?
        <br>
        How do we integrate the date for these resources?&nbsp;
      </p>
    </div>
  </div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        Brand
      </a>
      <ul class="nav">
        <li>
          <a href="#">
            Link 1
          </a>
        </li>
        <li>
          <a href="#">
            Link 2
          </a>
        </li>
        <li>
          <a href="#">
            Link 3
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
