<div class="row">
  <div class="four columns">
    <h3 class="class-recomendation">
      Subject
    </h3>
    <dl class="vertical tabs">
      <dd class="active">
        <a href="#vertical1">Math</a>
      </dd>
      <dd>
        <a href="#vertical2">Science</a>
      </dd>
      <dd>
        <a href="#vertical3">Social Studies</a>
      </dd>
      <dd>
        <a href="#vertical3">English Language Arts</a>
      </dd>
      <dd>
        <a href="#vertical3">Foreign Language</a>
      </dd>
      <dd>
        <a href="#vertical3">Enrichment</a>
      </dd>
      <dd>
        <a href="#vertical3">Browse All Subjects</a>
      </dd>
    </dl>
    <h3>
      Worksheet Source
    </h3>
    <ul class="company-select list-none">
      <li class="">
        <label for="radio1"><input name="radio2" type="radio" id="radio4"><img src="images/company/company1.png" alt=""></label>
      </li>
      <li class="">
        <label for="radio2"><input name="radio2" type="radio" id="radio42"><img src="images/company/company2.png" alt=""></label>
      </li>
      <li class="selected">
        <label for="radio3" class=""><input checked name="radio2" type="radio" id="radio43"><img src="images/company/company3.png" alt=""></label>
      </li>
      <li class="">
        <label for="radio4"><input name="radio2" type="radio" id="radio44"><img src="images/company/company4.png" alt=""></label>
      </li>
      <li class="">
        <label for="radio5"><input name="radio2" type="radio" id="radio45"><img src="images/company/company5.png" alt=""></label>
      </li>
      <li class="">
        <label for="radio6"><input name="radio2" type="radio" id="radio46"><img src="images/company/company6.png" alt=""></label>
      </li>
      <li class="">
        <label for="radio7"><input name="radio2" type="radio" id="radio47"><img src="images/company/company7.png" alt=""></label>
      </li>
    </ul>
  </div>
  <div class="eight columns">
    <div class="hero">
      <h2 class="text-center">
        Personalized Materials
      </h2>
      <p>
        Some personalized learning resources gathered from our growing list are shown below.
      </p>
      <div class="">
        <ul class="button-group even two-up">
          <li>
            <a href="#" class="button">Recommendations to Students</a>
          </li>
          <li>
            <a href="#" class="button secondary">Classwide Recommendations</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div>
      <dl class="sub-nav">
        <dt>Filter:</dt>
        <dd class="active"><a href="#">All</a></dd>
        <dd><a href="#">Multiplication</a></dd>
        <dd><a href="#">Division</a></dd>
        <dd><a href="#">Addition</a></dd>
        <dd><a href="#">Subtraction</a></dd>
      </dl>
      <div class="row worksheet-preview text-center">
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet1.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet1">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet2.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet2">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet3.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet3">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet4.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet4">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row worksheet-preview text-center">
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet5.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet1">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet6.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet2">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet7.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet3">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
        <div class="three columns single">
          <div class="">
            <h3>
              7.Ns.1d
            </h3>
            <p>
              <img src="assets/worksheet/worksheet8.png" alt="">
            </p>
            <h4>
              From: Better Lesson
            </h4>
            <ul class="even two-up button-group">
              <a href="#" class="" data-reveal-id="myWorksheet4">
              <li class="button tiny">View
              </li></a>
              <li class="button secondary tiny">Download
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div><!-- Included JS Files (Uncompressed) -->